<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Account Disapproval</h1>
  <p>Hello <%= @user.username %>,</p>
  <p>Unfortunately, your account has been disapproved for the following reason(s):</p>
  <p><%= @message %></p>
  <p>If you believe this is an error, please contact our support team.</p>
  <p>Sincerely,</p>
  <p>The Team</p>
</body>
</html>