<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Account Approval</h1>
  <p>Hello <%= @user.username %>,</p>
  <p>Your account has been successfully approved! You can now log in and start using our services.</p>
  <p>To log in to your account, please follow the link below:</p>
  <p><a href="http://127.0.0.1:5173/">Log in to your account</a></p>
  <p>Thank you for choosing our services!</p>
  <p>Sincerely,</p>
  <p>stellarmarkets Team</p>
</body>
</html>