<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hello Stellar Markets</h1>
  <p><%= @subject %></p>
  <p>Sincerely,</p>
  <p><%= @user.username %></p>

  <p><strong>Customer's Message:</strong></p>
  <p><%= @message %></p>
</body>
</html>